<footer>
  <div class="footer-container">
    <div class="container">
      <div itemscope itemtype="http://schema.org/Organization">
        <h3 class="sr-only" itemprop="name">Western Rivers Conservancy</h3>

        <div class="row">
          <div class="col-sm-4 text-center" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
            <h4>Main Office</h4>
            <p>
              <span itemprop="streetAddress">71 SW Oak Street, Suite 100</span><br>
              <span itemprop="addressLocality">Portland</span>,
              <span itemprop="postalCode">OR 97204</span><br>
              <a href="tel:5032410151" itemprop="telephone">(503) 241-0151</a><br>
              <a href="mailto:info@westernrivers.org" itemprop="email">info@westernrivers.org</a>
            </p>
          </div>

          <div class="col-sm-4 text-center" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
            <h4>California Office</h4>
            <p>
              <span itemprop="streetAddress">1418 20th Street, Suite 100</span><br>
              <span itemprop="addressLocality">Sacramento</span>,
              <span itemprop="postalCode">CA 95811</span><br>
              <a href="tel:9169300279" itemprop="telephone">(916) 930-0279</a><br>
              <a href="mailto:ctredennick@westernrivers.org" itemprop="email">ctredennick@westernrivers.org</a>
            </p>
          </div>

          <div class="col-sm-4 text-center" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
            <h4>Colorado Office</h4>
            <p>
              <span itemprop="streetAddress">1228 15th Street, Suite 316</span><br>
              <span itemprop="addressLocality">Denver</span>,
              <span itemprop="postalCode">CO 80202</span><br>
              <a href="tel:3036454953" itemprop="telephone">(303) 645-4953</a><br>
              <a href="mailto:derdmann@westernrivers.org" itemprop="email">derdmann@westernrivers.org</a>
            </p>
          </div>
        </div>
      </div>

      <div class="row text-center">
        <p class="donate">
          <a href="#0" class="btn btn-primary btn-lg">Donate Now</a>
        </p>
      </div>

      <div class="footer-badge">
        <img src="images/footer-badge.png">
      </div>


      <div class="row text-center">
        <small class="copyright">&copy; Western Rivers Conservancy 2013<br />This Annual Report app designed and developed by Bryan Potter Design.</small>
      </div>

    </div>
  </div>
</footer>